extends layouts/main


block content
    h1 TXT2HTML!
    form( action="/read", method="post", enctype="multipart/form-data")
        input(type='file', name="txtFile", value="Choose File")
        input(type="submit", value="Convert!")