hearder
    //- form(action="/search", method='post')
    //-     input(type='text', placeholder="Searching By", name='searchingBy')
    //-     input(type='submit', value="Search")
    ul
        li
            a(href="/") Home
        li 
            a(href="/create") Create
